body{
    background-color: rgb(213, 208, 208);
    }

.box{
        display: flex;
        flex-direction: row;
        margin-top: 4%;
        justify-content: center;
        margin-left: 30px;
        width: 1500px;
        

        }
.container{
            
 text-align: center;
 border: 1px solid white;
 border-radius: 5%;
 height: 590px;
 width: 320px;
background-color: white;
margin-left: 30px;
            }

            img{
                  
                  width: 300px;
                
            
                  }

            .heading{
                text-align: center;
                margin: 5px;
                margin-right: 10px;
                display: flexbox;
                font-size: 25px;
                }

            .para{
                text-align: center;
                font-size: 25px;
                color: green;
                margin-top: 20px;
                margin-bottom: 20px;
                }
            
            .button{
                display: block;
                margin-left: 105px;
                margin-top: 20px;
                height: 35px;
                width: 90px;
                background-color: rgb(24, 24, 246);
                color: aliceblue;
                border-radius: 5%;
                }
            #oven{
    margin-top: 35px;
}
a{
    text-decoration: none;
    color: black;
}